.carousel-project {
    ::-webkit-scrollbar {
        background: var(--bg-footer);
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(var(--color-hover-alpha),
                var(--color-hover));
        border-radius: 6px;
    }

    &-images {
        padding-top: 20px;
    }

    .carousel-main-image {
        margin: 1rem auto !important;
        overflow-y: scroll;
        max-height: 500px;
        justify-content: center;
        overflow-x: hidden;

        .btn {
            display: none;
        }
    }

    .carousel-images {
        gap: 1rem;
    }

    img {
        &.main-image-carousel {
            width: auto;
            height: fit-content;
        }

        object-fit: cover;

    }

    .btn:hover {
        transform: scale(1.5);
    }

    .thumbnail {
        img {
            filter: contrast(.75);
            cursor: pointer;
        }

        .clicked {
            filter: contrast(1);
            border: 3px solid var(--color-hover);
        }

    }
}

@mixin carousel-1024 {
    .carousel-project {
        .carousel-main-image {
            min-width: 881px;
            justify-content: space-between;

            .btn {
                display: block;
                position: sticky;
                top: 0;
                height: 100%;
            }

            img.main-image-carousel {
                max-width: 725px;
            }
        }
    }
}