.line {
    display: block;
    height: 3px;
    background-color: var(--text-color);
    margin-bottom: 0.3rem;
    transition: all 200ms;
    border-radius: 1rem;
}

.theme-color {
    width: 50%;
    height: 24px;
    float: left;
    zoom: 1;
    border-radius: 2px 0px 0px 2px;
}

.feather-moon {
    right: 8px;
}

.feather-sun {
    left: 8px;
}


.menu {
    left: 0;
    z-index: 999;
    width: 100vw;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid var(--color-hover-alpha);
        pointer-events: none;
        animation: headerLine-sm 1s ease-in-out;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: var(--bg-footer);
        top: 0;
        left: 0;
        transition: height .3s ease-in-out;
        z-index: -1;
    }

    a.logo {
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.15);
        }
    }

    .logo img {
        width: 2.5rem;
    }

    &.sticky::after {
        height: 100%;
    }

    &__hamburguer {
        width: 32px;
        cursor: pointer;

        .lines {
            &:hover span:first-child {
                animation: menuHamburguerLine 0.75s ease-in-out;
                animation-delay: 0.1s;
                margin-bottom: 0.5rem;
            }

            &:hover span:nth-child(2) {
                animation: menuHamburguerLine 0.75s ease-in-out;
                animation-delay: 0.2s;
            }

            &:hover span:last-child {
                margin-top: 0.15rem;
                animation: menuHamburguerLine 0.75s ease-in-out;
                animation-delay: 0.3s;
            }
        }
    }

    &__hamburguer {
        order: 5;
    }

    &__content {
        height: 100vh;
        background-color: var(--bg-footer);
        left: 0;
        top: -100vh;
        width: 100vw;
        padding: 1rem 0;
        visibility: hidden;
        transition: top 0.75s ease-in-out, visibility 0.75s linear;
        z-index: 999;
        &.show-menu {
            top: 0;
            visibility: visible;
        }
        .btn {
            padding: 1rem;
        }

        nav {
            margin-top: 1rem;
            ul{
                flex-direction: column;
            }

            a {
                font-size: 1.5rem;
                padding: 1rem 0;
                display: inline-block;
            }
        }
    }

    &__footer {
        bottom: 1rem;
        visibility: hidden;

        .social-list a {
            padding: 1rem 0.35rem;
        }

        .btn {
            font-size: 0.75rem;
        }
    }

    &__preset-colors {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: #555;
        padding: 10px;
        border-radius: 0.25rem;
        min-width: 10rem;
        opacity: 0;
        visibility: hidden;
        transition: top 500ms, opacity 500ms, visibility .2s;

        &.show {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }

        li {
            display: block;
            float: left;
            margin-bottom: 7px;
            cursor: pointer;
        }

        p {
            margin-bottom: 1rem;
            font-size: 0.9rem;
        }
    }

    &__toggle {
        width: 5rem;
        height: 35px;
        background: var(--color-hover);
        border-radius: 50px;

        & input {
            appearance: none;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 85%;
                background: var(--text-color);
                border-radius: 50px;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 25px;
                height: 25px;
                transform: translate(5px, -50%);
                background: var(--color-hover);
                border-radius: 50px;
                transition: all 400ms;
                filter: contrast(60%);
                z-index: 5;
            }

            &:checked:after {
                transform: translate(50px, -50%);
            }
        }

        svg {
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25rem;
            color: var(--bg-color);
            pointer-events: none;
            width: 1.25rem;
            height: 1.25rem;
        }

        span {
            background-color: var(--text-color);
            color: var(--bg-color);
            font-weight: 700;
            font-size: 0.9rem;
            width: 210px;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            left: -50%;
            top: 150%;
            cursor: pointer;

            &.hide {
                visibility: hidden;
            }
        }
    }

    &__setting {
        .btn {
            padding: 0.75rem 1rem;
            border: none;
        }
    }
}


@mixin header-768 {
    .logo {
        padding-top: 1em;
    }

    .menu {
        height: 100vh;
        width: auto;

        &::before {
            top: 0;
            height: 100%;
            border-right: 1px solid var(--color-hover-alpha);
            border-bottom: none;
            animation: headerLine-md 1s ease-in-out;
        }

        &>div {
            height: 100%;
            flex-direction: column;
        }

        &.sticky::after {
            height: 0;
        }

        &__content {
            top: 0;
            left: -100vw;
            visibility: visible;
            transition: left 0.75s ease-in-out;
            &.show-menu {
                top: 0;
                left: 0;
            }

            nav {
                ul{
                    flex-direction: row;
                }
                a{
                    font-size: 1rem;
                }
            }
        }

        &__hamburguer {
            order: initial;
            flex-grow: 1;
        }

        &__preset-colors {
            top: -50%;
            min-width: 10rem;
            left: 50%;
            transform: translateY(-55%);

            transition: top 500ms, opacity 500ms, visibility .2s, left 500ms, min-width 500ms;


            &.show {
                top: -50%;
                left: 105%;
                min-width: 11rem;
            }
        }

        &__toggle {
            width: 35px;
            height: 4.5rem;
            margin-bottom: 1rem;

            input:before {
                width: 80%;
                height: 90%;
            }

            input:checked:after {
                transform: translate(4px, 95%);
            }

            input:after {
                top: 25%;
            }

            span {
                left: 150%;
                top: 25%;
            }

            .feather-moon {
                right: 8px;
                top: 3.5rem;
            }

            .feather-sun {
                left: 7px;
                top: 1rem;
            }
        }

        &__footer {
            visibility: visible;
            .social-list a {
                padding: 1rem 1.25rem;
            }

            .btn {
                font-size: 1rem;
            }
        }

    }
}

@mixin header-1024 {
    header .btn {
        font-size: 1.5rem;
    }

    .menu {
        &__content {
            font-size: 1.5rem;

            nav a {
                font-size: 1.5rem;
            }
        }
    }
}