.line {
    display: block;
    height: 3px;
    background-color: var(--text-color);
    margin-bottom: 0.3rem;
    transition: all 200ms;
    border-radius: 1rem;
}

.theme-color {
    width: 50%;
    height: 24px;
    float: left;
    zoom: 1;
    border-radius: 2px 0px 0px 2px;
}

.feather-moon {
    right: 8px;
}

.feather-sun {
    left: 8px;
}


.menu {
    left: 0;
    z-index: 999;
    width: 100vw;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        pointer-events: none;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: var(--always-black);
        top: 0;
        left: 0;
        transition: height .3s ease-in-out;
        z-index: -1;
    }

    a.logo {
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.15);
        }
    }

    .logo img {
        width: 2.5rem;
    }

    &.sticky::after {
        height: 100%;
    }

    &.sticky::before {
        border-bottom: 1px solid var(--color-hover-alpha);
        animation: headerLine-sm 1s ease-in-out;
    }

    &__hamburguer {
        width: 32px;
        cursor: pointer;
        order: 5;

        .lines {
            &:hover span:first-child {
                animation: menuHamburguerLine 0.75s ease-in-out;
                animation-delay: 0.1s;
                margin-bottom: 0.5rem;
            }

            &:hover span:nth-child(2) {
                animation: menuHamburguerLine 0.75s ease-in-out;
                animation-delay: 0.2s;
            }

            &:hover span:last-child {
                margin-top: 0.15rem;
                animation: menuHamburguerLine 0.75s ease-in-out;
                animation-delay: 0.3s;
            }
        }
    }

    &__content {
        height: 100vh;
        background-color: var(--bg-footer);
        left: 0;
        top: -100vh;
        width: 100vw;
        padding: 1rem 0;
        visibility: hidden;
        transition: top 0.75s ease-in-out, visibility 0.75s linear;
        z-index: 999;

        &.show-menu {
            top: 0;
            visibility: visible;
        }

        .btn {
            padding: 1rem;
        }

        nav {
            margin-top: 1rem;

            ul {
                flex-direction: column;
            }

            a {
                font-size: 1.5rem;
                padding: 1rem 0;
                display: inline-block;
            }
        }
    }

    &__footer {
        bottom: 1rem;
        visibility: hidden;

        .social-list a {
            padding: 1rem 0.35rem;
        }

        .btn {
            font-size: 0.75rem;
        }
    }

    &__preset-colors {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: #555;
        padding: 10px;
        border-radius: 0.25rem;
        min-width: 10rem;
        opacity: 0;
        visibility: hidden;
        transition: top 500ms, opacity 500ms, visibility .2s;

        &.show {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }

        li {
            display: block;
            float: left;
            margin-bottom: 7px;
            cursor: pointer;
        }

        p {
            margin-bottom: 1rem;
            font-size: 0.9rem;
        }
    }

    &__toggle {
        width: 5rem;
        height: 35px;
        background: var(--color-hover);
        border-radius: 50px;

        & input {
            appearance: none;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 85%;
                background: var(--always-white);
                border-radius: 50px;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 25px;
                height: 25px;
                transform: translate(5px, -50%);
                background: var(--color-hover);
                border-radius: 50px;
                transition: all 400ms;
                filter: contrast(60%);
                z-index: 5;
            }

            &:checked:after {
                transform: translate(50px, -50%);
            }
        }

        svg {
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25rem;
            color: var(--always-black);
            pointer-events: none;
            width: 1.25rem;
            height: 1.25rem;
        }

    }

    &__setting {
        .btn {
            padding: 0.75rem 1rem;
            border: none;
        }

        svg {
            stroke: var(--always-white);
        }
    }

    #menu-backdrop {
        position: absolute;
        background-color: var(--color-hover-alpha);
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
        z-index: 10;
        transform: translate(0, 0);
        top: 0;
    }

}


@mixin header-768 {
    .menu {
        &.sticky::after {
            height: 100%;
        }

        &__content {
            position: relative;
            top: 0;
            left: 0;
            height: auto;
            width: auto;
            visibility: visible;
            background-color: transparent;
            transition: left 0.75s ease-in-out;

            &.show-menu {
                top: 0;
                left: 0;
            }

            nav {
                margin: 0;
                width: auto;

                ul {
                    flex-direction: row;
                }

                li {
                    width: auto;
                }

                a {
                    font-size: 1rem;
                    padding: 0 .5rem;
                    color: var(--always-white);
                    font-weight: 900;
                }
            }
        }

        &__header,
        &__footer {
            display: none;
        }

        &__hamburguer {
            display: none;
        }

        &__preset-colors {
            left: 0%;
        }

        &__toggle {
            input {
                min-width: 80px;
            }
        }
    }
}

@mixin header-1024 {
    .menu {
        &__content {
            nav a {
                font-size: 1.15rem;
                padding: .5rem 1rem;
            }
        }
    }
}