:root {
  --font-title: "Telex", sans-serif;
  --always-white: #fffcff;
  --always-black: #212121;
}

[data-theme]:not([data-theme=default-dark]):not([data-theme=purple-dark]):not([data-theme=blue-dark]):not([data-theme=green-dark]) {
  --bg-color: #f5f5f5;
  --text-color: #212121;
  --bg-footer: rgb(207, 216, 220);
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --border: #9e9e9e;
}

[data-theme]:not([data-theme=default-light]):not([data-theme=purple-light]):not([data-theme=blue-light]):not([data-theme=green-light]) {
  --bg-color: #0e0f26;
  --text-color: #fffcff;
  --bg-footer: #212121;
  --shadow: rgba(150, 150, 193, 0.25) 0px -3px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
  --border: #ffffff38;
}

[data-theme=default-light] {
  --color-link: rgba(43, 71, 89, 1);
  --color-hover: rgb(232, 32, 13);
  --color-link-alpha: rgba(21, 47, 62, 0.8);
  --color-hover-alpha: rgba(231, 47, 30, 0.8);
}

[data-theme=default-dark] {
  --color-link: #8bc0e8;
  --color-hover: #dd2e2e;
  --color-link-alpha: rgba(100, 166, 208, 0.8);
  --color-hover-alpha: rgba(213, 32, 32, 0.8);
}

[data-theme=blue-light] {
  --color-link: rgba(75, 117, 212, 1);
  --color-hover: rgb(6, 196, 158);
  --color-link-alpha: rgba(75, 117, 212, 0.8);
  --color-hover-alpha: rgba(6, 196, 158, 0.8);
}

[data-theme=blue-dark] {
  --color-link: rgb(106, 149, 249);
  --color-hover: rgba(168, 219, 210, 1);
  --color-link-alpha: rgba(75, 117, 212, 0.8);
  --color-hover-alpha: rgba(168, 219, 210, 0.8);
}

[data-theme=purple-light] {
  --color-link: rgba(79, 50, 104, 1);
  --color-hover: rgb(90, 177, 180);
  --color-link-alpha: rgba(79, 50, 104, .8);
  --color-hover-alpha: rgba(48, 179, 183, 0.8);
}

[data-theme=purple-dark] {
  --color-link: rgba(154, 156, 234, 1);
  --color-hover: rgba(162, 220, 238, 1);
  --color-link-alpha: rgba(154, 156, 234, .8);
  --color-hover-alpha: rgba(162, 220, 238, .8);
}

[data-theme=green-light] {
  --color-link: #4ec1ae;
  --color-hover: #c5a56f;
  --color-link-alpha: rgba(57, 147, 132, 0.8);
  --color-hover-alpha: rgba(204, 173, 118, 0.8);
}

[data-theme=green-dark] {
  --color-link: #53d2bd;
  --color-hover: #f6d08d;
  --color-link-alpha: rgba(83, 210, 189, 0.8);
  --color-hover-alpha: rgba(246, 208, 141, 0.8);
}

@font-face {
  font-family: "Telex";
  src: url("/fonts/Telex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  transition: background 0.3s ease-in-out;
}
body.overflow-hidden {
  overflow-y: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: var(--color-link-alpha);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

svg {
  width: 32px;
  height: 32px;
}

h1 {
  font-size: 3.25rem;
}
h1 span {
  color: var(--color-hover);
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Telex", sans-serif;
}

img {
  max-width: 100%;
}

section .container {
  padding: 4rem 0;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column,
.flex-column-sm {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
.btn:hover::before {
  transform: scale(350);
}
.btn span,
.btn svg {
  pointer-events: none;
  z-index: 10;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--color-hover-alpha);
}
.btn-primary span,
.btn-primary svg {
  color: var(--always-white);
}
.btn-primary:hover::before {
  background-color: var(--color-hover);
}

.btn-secondary {
  border: 1px solid var(--color-link);
  background-color: transparent;
  color: var(--text-color);
}
.btn-secondary:hover::before {
  background-color: var(--color-link);
}
.btn-secondary:hover span {
  color: var(--bg-color);
}

.btn-controls {
  background: rgba(145, 145, 145, 0.5);
  border: none;
  box-shadow: var(--shadow);
}
.btn-controls svg {
  transition: transform 0.3s ease-in-out;
}
.btn-controls svg polygon {
  stroke: var(--color-hover);
}
.btn-controls svg path {
  fill: var(--color-hover);
}
.btn-controls:hover svg {
  transform: scale(1.15);
}

.logo span {
  padding-left: 0.5rem;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.fill-link {
  fill: var(--color-link);
}

.wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.text-hover {
  color: var(--color-hover);
}

.icon-close {
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.icon-close:hover .line:first-child {
  animation: iconCloseLine1 0.75s ease-in-out;
}
.icon-close:hover .line:last-child {
  animation: iconCloseLine2 0.75s ease-in-out;
  animation-delay: 0.1s;
}
.icon-close .line {
  margin: 0;
  pointer-events: none;
}
.icon-close .line:first-child {
  rotate: 45deg;
}
.icon-close .line:last-child {
  rotate: -45deg;
  transform: translate(2px, -2px);
}

.tooltip {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 1rem);
  font-size: 0.75rem;
  background: var(--bg-footer);
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
}

.line {
  display: block;
  height: 3px;
  background-color: var(--text-color);
  margin-bottom: 0.3rem;
  transition: all 200ms;
  border-radius: 1rem;
}

.theme-color {
  width: 50%;
  height: 24px;
  float: left;
  zoom: 1;
  border-radius: 2px 0px 0px 2px;
}

.feather-moon {
  right: 8px;
}

.feather-sun {
  left: 8px;
}

.menu {
  left: 0;
  z-index: 999;
  width: 100vw;
}
.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--always-black);
  top: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
  z-index: -1;
}
.menu a.logo {
  transition: transform 0.3s ease-in-out;
}
.menu a.logo:hover {
  transform: scale(1.15);
}
.menu.sticky::after {
  height: 100%;
}
.menu.sticky::before {
  border-bottom: 1px solid var(--color-hover-alpha);
  animation: headerLine-sm 1s ease-in-out;
}
.menu__hamburguer {
  width: 32px;
  cursor: pointer;
  order: 5;
}
.menu__hamburguer .lines:hover span:first-child {
  animation: menuHamburguerLine 0.75s ease-in-out;
  animation-delay: 0.1s;
  margin-bottom: 0.5rem;
}
.menu__hamburguer .lines:hover span:nth-child(2) {
  animation: menuHamburguerLine 0.75s ease-in-out;
  animation-delay: 0.2s;
}
.menu__hamburguer .lines:hover span:last-child {
  margin-top: 0.15rem;
  animation: menuHamburguerLine 0.75s ease-in-out;
  animation-delay: 0.3s;
}
.menu__content {
  height: 100vh;
  background-color: var(--bg-footer);
  left: 0;
  top: -100vh;
  width: 100vw;
  padding: 1rem 0;
  visibility: hidden;
  transition: top 0.75s ease-in-out, visibility 0.75s linear;
  z-index: 999;
}
.menu__content.show-menu {
  top: 0;
  visibility: visible;
}
.menu__content .btn {
  padding: 1rem;
}
.menu__content nav {
  margin-top: 1rem;
}
.menu__content nav ul {
  flex-direction: column;
}
.menu__content nav a {
  font-size: 1.5rem;
  padding: 1rem 0;
  display: inline-block;
}
.menu__footer {
  bottom: 1rem;
  visibility: hidden;
}
.menu__footer .social-list a {
  padding: 1rem 0.35rem;
}
.menu__footer .btn {
  font-size: 0.75rem;
}
.menu__preset-colors {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: #555;
  padding: 10px;
  border-radius: 0.25rem;
  min-width: 10rem;
  opacity: 0;
  visibility: hidden;
  transition: top 500ms, opacity 500ms, visibility 0.2s;
}
.menu__preset-colors.show {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.menu__preset-colors li {
  display: block;
  float: left;
  margin-bottom: 7px;
  cursor: pointer;
}
.menu__preset-colors p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.menu__toggle {
  width: 5rem;
  height: 35px;
  background: var(--color-hover);
  border-radius: 50px;
}
.menu__toggle input {
  appearance: none;
  cursor: pointer;
}
.menu__toggle input:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;
  background: var(--always-white);
  border-radius: 50px;
}
.menu__toggle input:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  transform: translate(5px, -50%);
  background: var(--color-hover);
  border-radius: 50px;
  transition: all 400ms;
  filter: contrast(60%);
  z-index: 5;
}
.menu__toggle input:checked:after {
  transform: translate(50px, -50%);
}
.menu__toggle svg {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--always-black);
  pointer-events: none;
  width: 1.25rem;
  height: 1.25rem;
}
.menu__setting .btn {
  padding: 0.75rem 1rem;
  border: none;
}
.menu__setting svg {
  stroke: var(--always-white);
}

.skill-container {
  align-items: flex-start;
}
.skill-container > div {
  padding: 1rem;
  gap: 1.25rem;
}
.skill-container svg {
  color: var(--color-hover);
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 0.5rem;
}

.banner {
  overflow-x: hidden;
}
.banner h1, .banner h2, .banner p {
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  transition: transform 0.5s ease;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--bg-color) 10%, rgba(0, 0, 0, 0.5) 100%);
}
.banner .container {
  z-index: 10;
}
.banner .btn {
  display: inline-flex;
  background-color: var(--always-white);
}
.banner .btn svg {
  margin-left: 0.5rem;
}
.banner .btn span, .banner .btn svg {
  color: var(--always-black);
}
.banner .btn:hover span, .banner .btn:hover svg {
  color: var(--always-white);
}
.banner .skill {
  cursor: pointer;
}
.banner__about-me p {
  margin: 1rem 0;
  font-weight: bold;
}
.banner__skills {
  margin-top: 4rem;
}

.about-me .flex {
  gap: 2rem;
}
.about-me svg {
  z-index: -1;
}
.about-me__content h3 {
  margin: 1rem 0 0.25rem 0;
}
.about-me__content p {
  margin: 1rem 0;
  max-width: 700px;
}
.about-me__img {
  max-width: 20rem;
  margin: 0 auto;
}

.experience h2 {
  margin-bottom: 2rem;
}
.experience__item {
  border: 1px solid var(--color-hover);
  padding: 1rem;
}
.experience__date {
  background-color: var(--color-link);
  color: var(--bg-color);
  padding: 1rem;
  border-radius: 0.25rem;
}
.experience__date p {
  font-size: 0.95rem;
}
.experience__activities {
  padding: 2rem 0 1rem 0;
}
.experience__activities p {
  margin-top: 0.5em;
}

.timeline h2 {
  margin-bottom: 1rem;
}
.timeline li.splide__slide {
  background-color: var(--bg-footer);
}
.timeline .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.timeline .content {
  padding: 1rem;
}
.timeline .content span {
  color: var(--color-hover);
  font-size: 1.25rem;
  font-weight: bold;
}
.timeline .content h3,
.timeline .content p {
  margin: 1rem 0;
}
.timeline .img,
.timeline .content {
  flex-basis: 50%;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 2rem;
}
.projects .btn span {
  font-size: 1rem;
}
.projects p {
  margin: 1rem auto;
  max-width: 600px;
}
.projects .filters {
  margin: 2rem 0 1rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.projects .filters svg {
  width: 1rem;
  margin-left: 0.5rem;
}
.projects .filter {
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  flex-grow: 1;
  cursor: pointer;
}
.projects .filter:first-child {
  margin-right: 0.5rem;
}
.projects .filter:hover svg {
  fill: var(--bg-color);
}
.projects .filter.active {
  background-color: var(--color-link);
}
.projects .filter.active span {
  color: var(--bg-color);
}
.projects .filter.active svg {
  transform: rotate(180deg);
  fill: var(--bg-color);
}
.projects .filter span,
.projects .filter svg {
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
}
.projects .options {
  background: var(--bg-footer);
  top: 140%;
  border: 1px solid var(--bg-footer);
  border-left: none;
  box-shadow: var(--shadow);
  z-index: 888;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.projects .options.show {
  opacity: 1;
  top: 100%;
  pointer-events: initial;
}
.projects .options .btn {
  border: none;
  border-bottom: 1px solid var(--color-hover-alpha);
  text-align: start;
  font-size: 1rem;
  border-radius: initial;
  position: relative;
}
.projects .options .btn span {
  color: var(--text-color);
}
.projects .options .btn:last-child {
  border-bottom: none;
}
.projects .options .btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-hover);
  transition: width 0.3s ease-in-out;
}
.projects .options .btn.selected::after {
  width: 0.5rem;
}
.projects .languages p {
  margin: 0;
  font-size: 0.9rem;
  padding: 1rem 1rem 0.25rem 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-hover);
  font-weight: bold;
  color: var(--color-link);
}
.projects .languages label {
  padding: 1rem 0 1rem 1rem;
  position: relative;
  border-bottom: 1px solid var(--color-hover);
  cursor: pointer;
}
.projects .languages label.last {
  border: none;
}
.projects .languages span {
  padding-left: 2rem;
}
.projects .languages input {
  appearance: none;
}
.projects .languages input:checked::before {
  background-color: var(--color-hover);
  background-image: url(/images/check.svg);
}
.projects .languages input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--color-hover);
  transition: all 300ms;
  background-position: center;
  background-repeat: no-repeat;
}
.projects .language {
  padding: 1rem;
}
.projects .technologies {
  gap: 0.25rem;
  margin: 1rem 0;
  max-width: 90%;
}
.projects .technologies span {
  font-size: 0.9rem;
  padding: 0.25rem;
  background-color: var(--bg-footer);
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.25rem;
  font-weight: bold;
  color: var(--color-hover);
}
.projects .date {
  background-color: var(--bg-footer);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  display: inline-block;
}
.projects .show-more.hide,
.projects .show-less.hide {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
}
.projects .show-more,
.projects .show-less {
  visibility: visible;
  width: 100%;
  margin: 1rem;
  max-width: 14rem;
  opacity: 1;
}

.project h3 {
  max-width: 30rem;
}
.project__card {
  border: 1px solid var(--border);
  transition: border 0.3s ease-in-out;
  border-radius: 0.25rem;
  overflow: hidden;
}
.project__img {
  overflow: hidden;
}
.project__img span {
  min-height: 150px;
}
.project__img img {
  overflow: hidden;
  transition: transform 0.3s ease-in-out !important;
  height: auto;
}
.project__img:hover img {
  transform: scale(1.1);
}
.project p {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}
.project .buttons {
  margin: 1rem 0;
}
.project .buttons .flex {
  gap: 1rem;
  margin: 0;
}
.project .buttons .btn {
  width: 9rem;
}
.project .dates {
  gap: 1rem;
}
.project .dates span {
  font-size: 1rem;
  margin: 0.5rem;
}
.project__content {
  padding: 1rem;
}
.project.view {
  display: grid;
  gap: 1rem;
}
.project.view .flex,
.project.view .buttons,
.project.view .description {
  margin: 0;
}
.project.view .size-img {
  padding: 1rem 2rem 0rem 1rem;
  border-radius: 0.25rem;
}

.not-found p {
  max-width: 60rem;
}
.not-found svg {
  width: 100%;
  height: 100%;
  max-width: 20rem;
  margin: auto;
}

.carousel-project ::-webkit-scrollbar {
  background: var(--bg-footer);
  border-radius: 6px;
}
.carousel-project ::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-hover-alpha), var(--color-hover));
  border-radius: 6px;
}
.carousel-project-images {
  padding-top: 20px;
}
.carousel-project .carousel-main-image {
  margin: 1rem auto !important;
  overflow-y: scroll;
  max-height: 500px;
  justify-content: center;
  overflow-x: hidden;
}
.carousel-project .carousel-main-image .btn {
  display: none;
}
.carousel-project .carousel-images {
  gap: 1rem;
}
.carousel-project img {
  object-fit: cover;
}
.carousel-project img.main-image-carousel {
  width: auto;
  height: fit-content;
}
.carousel-project .btn:hover {
  transform: scale(1.5);
}
.carousel-project .thumbnail img {
  filter: contrast(0.75);
  cursor: pointer;
}
.carousel-project .thumbnail .clicked {
  filter: contrast(1);
  border: 3px solid var(--color-hover);
}

footer {
  background-color: var(--bg-footer);
  transition: background-color 0.3s ease-in-out;
  padding: 1rem 0;
}
footer svg {
  width: 24px;
  height: 24px;
}
footer .container {
  display: grid;
  gap: 2rem;
  justify-content: space-between;
}

.repositories__item {
  padding: 1rem 0;
}
.repositories__item .icon {
  margin-right: 0.5rem;
}

.social svg {
  fill: var(--text-color);
}
.social span {
  padding-left: 0.5rem;
}
.social a {
  padding: 1rem 1rem 1rem 0;
  display: inline-flex;
}

.form-contact .btn span {
  font-size: 1rem;
}
.form-contact form {
  max-width: 25rem;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  height: 40px;
  border-radius: 0.25rem;
  padding-left: 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

textarea {
  height: auto;
  padding: 0.5rem 1rem 1rem 2rem;
}

.input-group {
  margin-top: 2rem;
}
.input-group label {
  pointer-events: none;
  top: 0.5rem;
  color: #555;
}
.input-group .placeholder {
  left: 2rem;
  transition: all 0.3s ease-in-out;
}
.input-group .placeholder-icon {
  left: 0.25rem;
}
.input-group input:focus ~ .placeholder-icon,
.input-group input:valid ~ .placeholder-icon,
.input-group textarea:focus ~ .placeholder-icon,
.input-group textarea:valid ~ .placeholder-icon {
  color: var(--color-hover);
}
.input-group input:focus ~ .placeholder,
.input-group input:valid ~ .placeholder,
.input-group textarea:focus ~ .placeholder,
.input-group textarea:valid ~ .placeholder {
  color: var(--txt-color);
  transform: translate(-1.9rem, -1.5rem);
  font-size: 0.9rem;
}

@keyframes headerLine-sm {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes headerLine-md {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes iconCloseLine1 {
  0%, 60% {
    transform: translate(10px, -8px);
    width: 10%;
  }
  50%, 100% {
    width: 100%;
    transform: translate(0px, 0px);
  }
  51% {
    opacity: 0;
  }
}
@keyframes iconCloseLine2 {
  0%, 60% {
    width: 10%;
    transform: translate(10px, 8px);
  }
  50%, 100% {
    width: 100%;
    transform: translate(2px, -2px);
  }
  51% {
    opacity: 0;
  }
}
@keyframes menuHamburguerLine {
  0% {
    width: 100%;
    margin-left: 0%;
  }
  50% {
    width: 10%;
    margin-left: 90%;
  }
  51% {
    opacity: 0;
  }
}
@keyframes bounceInBottom {
  0% {
    transform: translateY(-10rem);
  }
  75% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes bounceInTop {
  0% {
    transform: translateY(10rem);
  }
  75% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes bounceInRight {
  0% {
    transform: translateX(-10rem);
  }
  75% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes bounceInLeft {
  0% {
    transform: translateX(10rem);
  }
  75% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes toBottom {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes toTop {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes visible {
  0%, 40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-banner {
  to {
    transform: scale(1.5);
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu .logo {
  animation: bounceInBottom 0.5s ease-in-out 0.25s, visible 1s ease-in-out;
}
.menu .menu__toggle {
  animation: bounceInBottom 0.5s ease-in-out 0.4s, visible 1.25s ease-in-out;
}
.menu .menu__setting {
  animation: bounceInBottom 0.5s ease-in-out 0.6s, visible 1.5s ease-in-out;
}
.menu .menu__hamburguer {
  animation: bounceInBottom 0.5s ease-in-out 0.75s, visible 1.75s ease-in-out;
}

.banner {
  overflow-y: hidden;
}
.banner h1 {
  animation: bounceInBottom 0.5s ease-in-out 0.25s, visible 1s ease-in-out;
}
.banner p {
  animation: bounceInBottom 0.5s ease-in-out 0.4s, visible 1.25s ease-in-out;
}
.banner .btn {
  animation: bounceInBottom 0.5s ease-in-out 0.5s, visible 1.5s ease-in-out;
}
.banner h2 {
  animation: bounceInBottom 0.5s ease-in-out 0.6s, visible 1.75s ease-in-out;
}
.banner .skill-container {
  animation: bounceInBottom 0.5s ease-in-out 0.75s, visible 2s ease-in-out;
}

.banner::before {
  animation: bg-banner linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100vh;
  transform-origin: center bottom;
}

h2,
.projects .btn,
.about-me h3,
.about-me p,
.about-me img,
.projects .description,
.project__card,
.experience__item,
#splide01-track,
.repositories,
.social,
.form-contact {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.project.view h3,
.project.view .technologies,
.project.view .buttons,
.project.view .dates,
.project.view .description,
.project.view .learning,
.project.view .dificulties {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@media (min-width: 768px) {
  section .container, footer .container {
    padding: 4rem 0;
  }
  .flex-column-sm {
    flex-direction: row;
  }
  .menu.sticky::after {
    height: 100%;
  }
  .menu__content {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    visibility: visible;
    background-color: transparent;
    transition: left 0.75s ease-in-out;
  }
  .menu__content.show-menu {
    top: 0;
    left: 0;
  }
  .menu__content nav {
    margin: 0;
    width: auto;
  }
  .menu__content nav ul {
    flex-direction: row;
  }
  .menu__content nav li {
    width: auto;
  }
  .menu__content nav a {
    font-size: 1rem;
    padding: 0 0.5rem;
    color: var(--always-white);
    font-weight: 900;
  }
  .menu__header, .menu__footer {
    display: none;
  }
  .menu__hamburguer {
    display: none;
  }
  .menu__preset-colors {
    left: 0%;
  }
  .menu__toggle input {
    min-width: 80px;
  }
  .menu #menu-backdrop {
    position: absolute;
    background-color: var(--color-hover-alpha);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    transform: translate(0, 0);
    top: 0;
  }
  .banner__skills {
    margin-top: 6rem;
  }
  .skill-container > div {
    padding: 0.25rem;
    gap: 0;
    margin-top: 1rem;
  }
  .skill-container > div:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .skill-container > div:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
  }
  .skill-container svg {
    margin: 0 1rem;
  }
  .timeline .flex-column {
    flex-direction: row;
    height: 100%;
  }
  .timeline .content {
    align-self: center;
  }
  .projects .container p {
    max-width: 60rem;
  }
  .projects__container {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
  .projects .filters {
    justify-content: flex-end;
  }
  .projects .filter {
    flex-grow: initial;
    font-size: 1rem;
  }
  .projects .options {
    max-width: 20.2rem;
  }
  .projects .btn-updates {
    flex-flow: row;
  }
  .project .buttons .btn {
    width: 8rem;
  }
  footer .container {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .menu__content {
    animation: bounceInBottom 0.5s ease-in-out 0.4s, visible 1.25s ease-in-out;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4.25rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.35rem;
  }
  .tooltip {
    opacity: 0;
    transform: translate(-50%, 1.5rem);
  }
  .menu__content nav a {
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
  }
  .skill-container svg {
    width: 3.25rem;
    height: 3.25rem;
  }
  .banner {
    min-height: 100vh;
    display: flex;
  }
  .banner__about-me p {
    font-size: 1.25rem;
  }
  .banner .skill:hover span {
    opacity: 1;
    transform: translate(-50%, 1rem);
    font-size: 1rem;
  }
  .about-me {
    padding: 4rem 0;
  }
  .about-me .flex-column {
    flex-direction: row;
  }
  .about-me__content {
    max-width: 60%;
  }
  .experience h3 {
    font-size: 1.5rem;
  }
  .experience h4 {
    font-size: 1.4rem;
  }
  .experience__item {
    flex-direction: row;
    gap: 4rem;
    padding: 1rem 3rem;
  }
  .experience__date {
    min-width: 16rem;
    max-width: 18rem;
  }
  .projects h3 {
    font-size: 1.5rem;
  }
  .project.view {
    gap: 1rem 2rem;
  }
  .project.view h3 {
    font-size: 2.5rem;
  }
  .project.view p {
    max-width: 30rem;
  }
  .project.view .buttons .btn {
    min-width: 10rem;
  }
  .carousel-project .carousel-main-image {
    min-width: 881px;
    justify-content: space-between;
  }
  .carousel-project .carousel-main-image .btn {
    display: block;
    position: sticky;
    top: 0;
    height: 100%;
  }
  .carousel-project .carousel-main-image img.main-image-carousel {
    max-width: 725px;
  }
  footer {
    margin-top: 4rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  .projects .back {
    margin-left: 4rem;
  }
  .project.view {
    grid-template-areas: "img img" "title title" "technologies description " "buttons learning " "time difficulties";
  }
  .project.view h3 {
    grid-area: title;
  }
  .project.view .img {
    grid-area: img;
  }
  .project.view .description {
    grid-area: description;
  }
  .project.view .technologies {
    grid-area: technologies;
  }
  .project.view .buttons {
    grid-area: buttons;
  }
  .project.view .learning {
    grid-area: learning;
  }
  .project.view .difficulties {
    grid-area: difficulties;
  }
  .project.view .dates {
    grid-area: time;
  }
  .experience h3 {
    font-size: 1.75rem;
  }
  .experience h4 {
    font-size: 1.5rem;
  }
  footer .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0rem;
  }
  .social a {
    padding: 1.5rem 1rem 1.5rem 0rem;
  }
}
@media (min-width: 1440px) {
  .projects .back {
    animation: visible 0.25s linear;
  }
  .projects .view img,
  .projects .view .btn {
    animation: none;
  }
  .projects .view .carousel-main-image,
  .projects .view .size-img {
    animation: visible 0.5s both;
  }
  .projects .view .thumbnail:first-child {
    animation: visible 0.75s both;
  }
  .projects .view .thumbnail:nth-child(2) {
    animation: visible 1s both;
  }
  .projects .view .thumbnail:last-child {
    animation: visible 1.25s both;
  }
  .projects .view h3 {
    animation: visible 1s both;
  }
  .projects .view .buttons {
    animation: visible 1.25s both;
  }
  .projects .view .technologies {
    animation: visible 1.5s both;
  }
  .projects .view .dates {
    animation: visible 1.75s both;
  }
  .projects .view .description {
    animation: visible 2s both;
  }
  .projects .view .learning {
    animation: visible 2.25s both;
  }
  .projects .view .difficulties {
    animation: visible 2.5s both;
  }
  .projects__container {
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  }
  .project.view {
    grid-template-areas: "img title" "img buttons" "img technologies" "img time" "img time" "img description" "img learning " "img difficulties";
  }
  .project.view h3 {
    grid-area: title;
  }
  .project.view .img {
    grid-area: img;
  }
  .project.view .description {
    grid-area: description;
  }
  .project.view .technologies {
    grid-area: technologies;
  }
  .project.view .buttons {
    grid-area: buttons;
  }
  .project.view .learning {
    grid-area: learning;
  }
  .project.view .difficulties {
    grid-area: difficulties;
  }
  .project.view .dates {
    grid-area: time;
  }
}

/*# sourceMappingURL=main.css.map */
