---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.jsx';
import Timeline from '../components/Timeline.jsx';
---

<Layout title="Portafolio | Marcos Rubí">
	<Header client:only transition:persist/>
	<main>
		<AboutMe/>
		<Projects client:only/>
		<Experience/>
		<Timeline client:only/>
	</main>
	<Footer />
</Layout>
