---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.jsx';
import Timeline from '../components/Timeline.jsx';
import Banner from '../components/Banner.astro';
---

<Layout title="Portafolio | Marcos Rubí">
	<main>
		<Banner/>
		<AboutMe/>
		<Projects client:only/>
		<Experience/>
		<Timeline client:only/>
	</main>/
</Layout>
