<section class="about-me relative">
  <div class="container" id="about-me">
    <h2>Sobre Mí</h2>
    <div class="flex align-center flex-column">
      <div class="about-me__content">
        <h3>Marcos Daniel Rubí Hernández</h3>
        <p>
          Especializado en desarrollo web con habilidades en HTML, CSS, JavaScript, React, Angular, MySQL y Git. Experiencia previa incluye gestión de proyectos en WordPress y desarrollo de sistemas CRM en PHP.
        </p>
        <p>
          Recientemente finalicé un proyecto de sistema de control de préstamos y continúo realizando mejoras a pedido del cliente.
        </p>
        <p>
          Actualmente lidero el desarrollo de un sistema educativo, manejando maquetación, validaciones, diseño de base de datos y configuración de endpoints, además del rediseño del sitio web de la empresa.
        </p>
      </div>
      <div class="about-me__img">
        <img src="/images/profile.webp" alt="Foto de perfil de Marcos Rubí" loading="lazy" width="320" height="300" />
      </div>
    </div>
  </div>
</section>
