<section class="about-me relative">
  <div class="container" id="about-me">
    <h2 class="text-center">Sobre Mí</h2>
    <div class="flex align-center flex-column">
      <div class="about-me__content">
        <h3>Marcos Daniel Rubí Hernández</h3>
        <p>
          Dedicado al desarrollo web, con experiencia en HTML, CSS, JavaScript,
          React, MySQL y Git.
        </p>
        <p>
          Previamente, trabajé en Sortos Travel Multiservices, donde manejé
          WordPress, redes sociales y creé un sistema CRM en PHP.
        </p>
        <p>
          Actualmente, estoy enfocado en un sistema de control de préstamos,
          trabajando como freelancer.
        </p>
      </div>
      <div class="about-me__img">
        <img src="/images/profile.webp" alt="Foto de perfil de Marcos Rubí" />
      </div>
    </div>
  </div>
</section>
