---
import FormContact from './footer/FormContact.astro'
import Repositories from './footer/Repositories.astro'
import SocialLinks from './footer/SocialLinks.astro'
---

    <footer id='contact'>
      <div class='container'>
        <Repositories />
        <SocialLinks />
        <FormContact />
      </div>
    </footer>
