---
import IconUser from "../../utils/IconUser.astro";
import IconEmail from "../../utils/IconEmail.astro";
import IconComment from "../../utils/IconComment.astro";
---
    <div class='form-contact'>
      <h4>Contactar</h4>
      <form action='https://formsubmit.io/send/danielhernandez9980@gmail.com' method='post' onsubmit="return false;">
        <div class='input-group relative'>
          <input type='text' name='txtName' id='txtName' required='required' />
          <label for='txtName' class='absolute placeholder'>Nombre</label>
          <label for='txtName' class='absolute placeholder-icon'>
            <IconUser />
          </label>
        </div>
        <div class='input-group relative'>
          <input type='email' name='txtEmail' id='txtEmail' required='required' />
          <label for='txtEmail' class='absolute placeholder'>Email</label>
          <label for='txtEmail' class='absolute placeholder-icon'>
            <IconEmail />
          </label>
        </div>
        <div class='input-group relative'>
          <textarea name='txtMessage' id='txtMessage' cols='30' rows='5' required='required' />
          <label for='txtMessage' class='absolute placeholder'>Mensaje</label>
          <label for='txtMessage' class='absolute placeholder-icon'>
            <IconComment />
          </label>
        </div>
        <button type='submit' class='btn btn-primary'>
          <span>Enviar Mensaje</span>
        </button>
      </form>
    </div>
