---
import IconFrontendMentor from "../../utils/IconFrontendMentor.astro";
import IconGitHub from "../../utils/IconGitHub.astro";
import IconCodepen from "../../utils/IconCodepen.astro";
---

<div class="repositories">
  <h4>Repositorios</h4>
  <div class="repositories__item flex align-center">
    <div class="icon">
      <IconFrontendMentor />
    </div>
    <div>
      <p>Frontend Mentor</p>
      <a
        href="https://www.frontendmentor.io/profile/MarcosRubi"
        target="_blank"
        rel="noreferrer">Visitar</a
      >
    </div>
  </div>

  <div class="repositories__item flex align-center">
    <div class="icon">
      <IconGitHub />
    </div>
    <div>
      <p>GitHub</p>
      <a href="https://github.com/MarcosRubi" target="_blank" rel="noreferrer"
        >Visitar</a
      >
    </div>
  </div>

  <div class="repositories__item flex align-center">
    <div class="icon">
      <IconCodepen />
    </div>
    <div>
      <p>Codepen</p>
      <a href="https://codepen.io/Marcos_Rubi" target="_blank" rel="noreferrer"
        >Visitar</a
      >
    </div>
  </div>
</div>
