---
import IconInstagram from "../../utils/IconInstagram.astro";
import IconFacebook from "../../utils/IconFacebook.astro";
import IconTwitter from "../../utils/IconTwitter.astro";
import IconLinkedin from "../../utils/IconLinkedin.astro"
---

<div class="social">
  <h4>Redes sociales</h4>
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/marcos-rubi/"
        target="_blank"
        class="flex align-center"
        rel="noreferrer"
      >
        <IconLinkedin />
        <span>Linkedin</span>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/mrubi__07/"
        target="_blank"
        class="flex align-center"
        rel="noreferrer"
      >
        <IconInstagram />
        <span>Instagram</span>
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/MarcosRubi07"
        target="_blank"
        class="flex align-center"
        rel="noreferrer"
      >
        <IconFacebook />
        <span>Facebook</span>
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/Fuhrer_RD"
        target="_blank"
        class="flex align-center"
        rel="noreferrer"
      >
        <IconTwitter />
        <span>Twitter</span>
      </a>
    </li>
  </ul>
</div>
