.menu {
  .logo {
    animation: bounceInBottom .5s ease-in-out .25s, visible 1s ease-in-out;
  }

  .menu__toggle {
    animation: bounceInBottom .5s ease-in-out .4s, visible 1.25s ease-in-out;
  }

  .menu__setting {
    animation: bounceInBottom .5s ease-in-out .6s, visible 1.5s ease-in-out;
  }

  .menu__hamburguer {
    animation: bounceInBottom .5s ease-in-out .75s, visible 1.75s ease-in-out;
  }
}

.banner {
  overflow-y: hidden;

  h1 {
    animation:
      bounceInBottom .5s ease-in-out .25s, visible 1s ease-in-out;
  }

  p {
    animation: bounceInBottom .5s ease-in-out .4s, visible 1.25s ease-in-out;
  }

  .btn {
    animation: bounceInBottom .5s ease-in-out .5s, visible 1.5s ease-in-out;
  }

  h2 {
    animation: bounceInBottom .5s ease-in-out .6s, visible 1.75s ease-in-out;
  }

  .skill-container {
    animation: bounceInBottom .5s ease-in-out .75s, visible 2s ease-in-out;
  }
}

.banner {
  &::before {
    animation: bg-banner linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100vh;
    transform-origin: center bottom;
  }
}

h2,
.projects .btn,
.about-me h3,
.about-me p,
.about-me img,
.projects .description,
.project__card,
.experience__item,
#splide01-track,
.repositories,
.social,
.form-contact {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.project.view {

  h3,
  .technologies,
  .buttons,
  .dates,
  .description,
  .learning,
  .dificulties {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
}

@mixin animations-768 {
    .menu__content {
      animation: bounceInBottom .5s ease-in-out .4s, visible 1.25s ease-in-out;
    }
}

@mixin animations-1440 {
  .projects {
    .back {
      animation: visible .25s linear;
    }

    .view {
      img,
      .btn{
        animation: none;
      }
      .carousel-main-image,
      .size-img {
        animation: visible .5s both;
      }

      .thumbnail:first-child {
        animation: visible .75s both;
      }

      .thumbnail:nth-child(2) {
        animation: visible 1s both;
      }

      .thumbnail:last-child {
        animation: visible 1.25s both;
      }

      h3 {
        animation: visible 1s both;
      }

      .buttons {
        animation: visible 1.25s both;
      }

      .technologies {
        animation: visible 1.5s both;
      }
      .dates {
        animation: visible 1.75s both;
      }
      .description {
        animation: visible 2s both;
      }
      .learning {
        animation: visible 2.25s both;
      }
      .difficulties {
        animation: visible 2.5s both;
      }
    }
  }
}