@keyframes headerLine-sm {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes headerLine-md {
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes iconCloseLine1 {

  0%,
  60% {
    transform: translate(10px, -8px);
    width: 10%;
  }

  50%,
  100% {
    width: 100%;
    transform: translate(0px, 0px);
  }

  51% {
    opacity: 0;
  }
}

@keyframes iconCloseLine2 {

  0%,
  60% {
    width: 10%;
    transform: translate(10px, 8px);
  }

  50%,
  100% {
    width: 100%;
    transform: translate(2px, -2px);
  }

  51% {
    opacity: 0;
  }
}
@keyframes menuHamburguerLine {
  0% {
    width: 100%;
    margin-left: 0%;
  }
  50% {
    width: 10%;
    margin-left: 90%;
  }
  51% {
    opacity: 0;
  }
}

@keyframes bounceInBottom {
  0%{
    transform: translateY(-10rem);
  }
  75%{
    transform: translateY(1rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@keyframes bounceInTop {
  0%{
    transform: translateY(10rem);
  }
  75%{
    transform: translateY(-1rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@keyframes bounceInRight {
  0%{
    transform: translateX(-10rem);
  }
  75%{
    transform: translateX(.5rem);
  }
  100%{
    transform: translateX(0rem);
  }
}
@keyframes bounceInLeft {
  0%{
    transform: translateX(10rem);
  }
  75%{
    transform: translateX(.5rem);
  }
  100%{
    transform: translateX(0rem);
  }
}

@keyframes toBottom {
  0%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@keyframes toTop {
  0%{
    transform: translateY(10rem);
  }
  100%{
    transform: translateY(0rem);
  }
}

@keyframes visible {
  0%,
  40% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}