---
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es" data-theme="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Portafolio de Marcos Rubí - Técnico en sistemas operativos y redes, egresado de ingeniería en sistemas y redes"
		/>
		<meta
			property="og:description"
			content="Portafolio personal de Marcos Rubí, técnico en sistemas operativos y redes, egresado de ingeniería de sistemas y redes. Consulte mi experiencia laboral, proyectos y habilidades en mi sitio web"
		/>
		<meta property="og:image" content="/images/og_image.webp" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:url" content="https://www.mrubi.dev/" />
		<meta property="og:site_name" content="Portafolio de Marcos Rubí" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@Fuhrer_RD" />
		<meta
			name="description"
			content="Portafolio personal de Marcos Rubí, técnico en sistemas operativos y redes, egresado de ingeniería de sistemas y redes. Consulte mi experiencia laboral, proyectos y habilidades en mi sitio web"
		/>
		<meta
			name="keywords"
			content="Portafolio, Marcos Rubi, Técnico, sistemas operativos, redes, ingeniero, sistemas, desarrollador web, programador, experiencia laboral, proyectos, habilidades, developer, frontend, front-end developer"
		/>
		<meta name="author" content="Marcos Rubí" />
		<title>{title}</title>
		<link rel="stylesheet" href="/css/main.css" />
		<ViewTransitions />
	</head>
	<body>
		<Header client:only />
		<slot />
		<Footer />
	</body>
</html>
